<body>
    <h1>Survey Form </h1>
    <form action="/result" method="post" name="survey">
        Your Name: <input type="text" name="name"><br>
        Dojo Location: <input type="text" name="dojo"><br>
        Favorite Language: <input type="text" name="language"><br>
        Comment: <textarea name="comment" cols="30" rows="10"></textarea>
        <input type='submit' value='Create'>
    </form>
</body>